*{
  padding: 0%;
  margin: 0%;
  font-family: "Montserrat";

}
.item{
  text-decoration: none;
}
.App{
  background-color: #000000;
  height: 100vh;
}
.fex{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;

}

div{
  color: #fff;
  font-size: 14px;
}
.op{
  position: absolute;
  background-color: aqua;
  width: 50%;
  height: 30%;
  left: 400px;
  top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
